@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RevViews</h1>
    <p class="lead">RevViews aims to be the one stop shop for all your review needs.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Currently we offer the abillity for users to crowdsource their collective
            experiences to find out which places are all the rave, and which places one
            should avoid.  Have a story? Share your story!
        </p>
        <p><a class="btn btn-default" href="/Restaurants">Participate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>